%h1= t('contact.header')
%p= t('contact.introduction')
%h2.text-lg.mb-1= t('contact.address-header')
%Address.mt-1
  = t('contact.company-name')
  %br
  = t('contact.address')
  %br
  = t('contact.postal-code')
  %br
  = t('contact.country')
%p= t('contact.email')
%p= t('contact.phone')
