.nested-fields.space-y-4
  %div
    = accommodation_fields.label :name
    = accommodation_fields.text_field :name
  %div
    = accommodation_fields.label :sleeping_spots
    = accommodation_fields.number_field :sleeping_spots
  %div
    = accommodation_fields.label :cost_per_night
    = accommodation_fields.number_field :cost_per_night
