%h1 Partners
= link_to 'New Partner', new_partner_path
%ul
  - @partners.each do |partner|
    %li
      = link_to partner.name, partner_path(partner)
      |
      = partner.location
      |
      = link_to 'Edit', edit_partner_path(partner)
      |
      = link_to 'Destroy', partner_path(partner), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
