%h1 New Partner

= form_with(model: @partner, local: true) do |form|
  - if @partner.errors.any?
    #error_explanation
      %h2= pluralize(@partner.errors.count, "error") + " prohibited this partner from being saved:"
      %ul
        - @partner.errors.full_messages.each do |message|
          %li= message

  %div
    = form.label :name
    = form.text_field :name
  %div
    = form.label :location
    = form.text_field :location

  %h2 Accommodation
  #accommodations
    = form.fields_for :accommodations, @partner.accommodations.build do |accommodation_fields|
      = render 'accommodation_fields', accommodation_fields: accommodation_fields

  -# TODO: make this work so multiple new accommodation can be added
  -# %div
  -#   = link_to 'Add Accommodation', '#', id: 'add_accommodation', class: 'button'

  %div
    = form.submit "Create Partner"

= link_to 'Back', partners_path
