= form_with(model: booking, local: true) do |form|
  - if booking.errors.any?
    #error_explanation
      %h2= pluralize(booking.errors.count, "error") + " prohibited this booking from being saved:"
      %ul
        - booking.errors.full_messages.each do |message|
          %li= message
  .space-y-4
    .field
      = form.label :date_of_stay
      = form.date_field :date_of_stay

    .field
      = form.label :amount_of_days
      = form.number_field :amount_of_days

    .field
      = form.label :partner_id, "Partner"
      = form.collection_select :partner_id, @partners, :id, :name

    .flex.items-center.gap-4
      = link_to 'Back', bookings_path
      = form.submit
