%h1 Bookings

= link_to 'New Booking', new_booking_path

%table
  %thead
    %tr
      %th Date of Stay
      %th Amount of Days
      %th Partner
      %th{ colspan: 4 }

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.date_of_stay
        %td= booking.amount_of_days
        %td= booking.partner.name
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Invoice', booking_generate_pdf_path(booking)
        %td= link_to 'Delete', booking, data: { turbo_method: :delete, turbo_confirm:  'Are you sure?' }
