%h1= "Booking ##{@booking.id}"
= link_to 'Back', bookings_path
%p
  %strong Date of Stay:
  = @booking.date_of_stay

%p
  %strong Amount of Days:
  = @booking.amount_of_days

%p
  %strong Staying at our Partner:
  = @booking.partner.name

%p
  %strong Accommodation Details:
  %br
  %p= @booking.accommodation.name
  %br
  %strong Total:
  €
  = @booking.accommodation.cost_per_night * @booking.amount_of_days

%ul
  %li= link_to 'Edit', edit_booking_path(@booking)
  %li= link_to 'Open Invoice', booking_get_invoice_path(@booking)


