- if user_signed_in?
  %body
    .py-6.md:py-12.bg-primary.text-on-primary
      .container
        %hgroup
          %h1.break-words= t('application.name')
          %p= t('booking.description')

        %p.text-lg= t('booking.welcome-message', email: current_user.email)
        %a= link_to t('booking.book-now'), bookings_path

    .ai-tool
      .container
        %h2= t('ai-tool.header')
        %p= t('ai-tool.description')
        %a.btn.-primary{href: "#"}= t('ai-tool.try-ai-tool')

- else
  .container.my-8
    %h1= t('auth.welcome')
    %h2= t('auth.sign-up-or-login')
