%footer.bg-primary.text-on-primary.py-4.text-center
  .container
    %nav
      %ul.nav{ style: "list-style: none; padding: 0;" }
        %li.nav-item
          = link_to "Contact", contact_path,  class: 'nav-link'
        %li.nav-item
          = link_to t('application.about'), about_path, class: 'nav-link'
  .mt-4
    %small= raw("&copy; #{Date.today.year} #{t('application.name')}. #{t('application.copyright')}")


