%header.bg-white.text-black.py-4
  .container.flex.gap-4.items-center.justify-between
    = link_to image_tag('bookify-logo.png', { width: 64, height: 64, alt: "Bookify" }), root_path
    %nav.flex.flex-wrap.gap-1
      - if user_signed_in?
        = link_to 'Account', edit_user_registration_path, class: "btn border-none"
        = link_to 'My Bookings', bookings_path, class: "btn border-none"
        = link_to 'Partners', partners_path, class: "btn border-none"
        = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn border-none"
        
      - else
        = link_to "Login", new_user_session_path, class: "btn border-none"
        = link_to "Sign Up", new_user_registration_path, class: "btn border-none"
    = render 'layouts/locale_switcher'
